<style type="text/css">
		*{
			padding:0;
			margin:0;
			
		}

		.index_div
			{
				display:none;
				z-index:0;
				width:auto;
				height:auto;
			}
		.index_button{
			
			position:fixed;
			right:10px;
			bottom:130px;
			width:67.44px;
			height:67.44px;
			z-index:9999;
			border-radius:10px;
			background:transparent;
		}
		.index_button >img
		{
			width:100%;
			height:auto;
		}
		._sub_index{
			display:block;
			position:absolute;
			width:auto;
			height:auto;
			background:none;
			
			z-index:9998;
		}
		
		.sub-index
		{
			
			position:fixed;
			right:10px;
			bottom:140px;
			width:67.44px;
			height:auto;
			
			
			
		}
		.sub-index img
		{
			width:100%;
			height:auto;
			
		}
	@media (min-width:300px) and (max-width:963px)
	{
		.index_div
		{
			display:block;
		}
		._sub_index{
			display:none;
			background:hsla(360, 10%, 100%, 0.5) ;
			width:100%;
			height:100%;
			
		}
		.sub-index
		{
			right:85px;
		}
		
	}
</style>
	