<style type="text/css">
	*{
		padding:0;
		margin:0;
		
	}
	
	@media (min-width:300px) and (max-width:399px)
	{
		
		*{
			padding:0;
			margin:0;
			width:100%;
			height:100%;
					
		}
		
		.header_{
			
			width:50%;
			height:50px;
			left:0;
			top:10px;
			transform:none;
		}
		.header_maxwidth{
			
			width:100%;
			height:100%;
			/*margin:2px 10%;*/
		}
		.header_phone {
			display:none;
		}
		.header_email{
			display:none;
		}
		.header_logo{
		
			height:auto;
			width:100%;
			left:0;
			
		}
		.header_logo img
		{
			width:100%;
			
		}
		/*************foot************************/
		.foot{
			height:100px;
		}
		.foot_p{
			
			font-size:6px;
			height:auto;
			bottom:0;
		}
		.foot_maincontent{
			width:100%;
			height:100%;
		}
		.foot_maincontent_add
		{
			width:50%;
			font-size:6px;
			left:3px;
		}
		.foot_maincontent_fb{
			
			left:52%;
			top:23px;
			width:20px;
			height:20px;
			}
		.foot_maincontent_info
		{
			left:58%;
			width:20%;
			font-size:8px;
			height:auto;
		}
		.foot_maincontent_contact{
			left:85%;
			width:15%;
			height:100%;
			
		}
		.foot_maincontent_contact img{
		
			left:50%;
			transform:translateX(-50%);
			top:20%;
			width: 30%;
			height:auto;
			//height:20%;
		}
		.foot_maincontent_contact a
		{
			position:absolute;
			top:50px;
			font-size:10px;
			text-align:center;
			left:50%;
			transform:translateX(-50%);
			
		}
		/*************nav**************************/
		#button_menu
		{
			display:block;
			height:50px;
		}
		
		
		#navMenu 
		 {
			 height:auto;
			 width: 40%;
			 background-color:transparent;
			 left:55%;
			 top:55px;
			 margin:0 2%;
			
			 display:none;	 					
		 }
		 
		 #navMenuleft {
		 /*這個是控制標籤可以擺放的長度*/
			width: 100%;
		}
		#nav li{
			width: 100%; 
			border:1px solid;
			border-color:black;
			background-color:#69BB5A;
			border-radius: 4px;
			height:auto;
		}
		/* 第一層標題菜單設定 */
		#nav li a, #nav li a:link, #nav li a:visited {
			
			color: white; /* 標題的字體顏色, 可自己修改 #FFFFFF是白色*/
			margin: 0;      /* 邊緣外距離 */
			padding:0; /* 邊緣內距離 */
			text-align:center;
			line-height:25px;
			font: normal 13px 'Ubuntu';/* 字型 :粗體 大小 字體 */
			padding:6px 0;
			overflow:hidden;
			width: auto;
			height:auto;
						
		}
		/* 第一層菜單(滑鼠hover over時)設定 */

		#nav li a:hover,
		#nav li a:active {
		background:#317e56;/* 這個是當滑鼠指到時, 背標題的背景顏色, 可依個人喜好自行更改 */
		color: #000000; /* 標題的字體顏色, 可自己修改 #000000是黑色*/
		margin: 0;

		padding:6px 0;
		overflow:hidden;
		text-align:center;
		
		font: normal 13px 'Ubuntu';
		height:auto;
		
		}
		#nav li ul{
		
		height: auto;
		width: 110%;
		background-color:transparent;
		
		margin-left:-100%;
		margin-top:-10px;
		padding:0;
		display:block;
		}
		
		/* 第二層菜單(子選單)設定 */
		#nav li li a, #nav li li a:link, 
		#nav li li a:visited 
		{
			padding: 5px 0px;
			//background-color:#239B56;
			background:#239B56 repeat-x top;
			font: normal 13px 'Ubuntu';
			
			width: 100%;
			height:auto;
			
		
		}
		/* 第二層菜單(滑鼠hover over時)設定 */
		#nav li li a:hover, #nav li li a:active {
			padding:5px 0px;
			font: normal 13px 'Ubuntu';
			
		}
	
		#nav li:hover ul
		{	
			display:none;
			
		}
	}
	/*****************************************/
	@media (min-width: 400px) and (max-width:537px)
	{
		
		*{
			padding:0;
			margin:0;
			width:100%;
			height:100%;
		}
		
		
		.header_{
			
			width:50%;
			height:50px;
			left:0;
			top:10px;
			transform:none;
			
		}
		.header_maxwidth{
			width:100%;
			height:100%;
		}
		.header_phone {
			display:none;
		}
		.header_email{
			display:none;
		}
		.header_logo{
		
			position: absolute;
			height:auto;
			width:100%;
			top:50%;
			transform: translateY(-50%);
		}
		.header_logo img
		{
			width:80%;
			//top:50%;
			//transform: translateY(-50%);
		}
		/*************foot************************/
		.foot{
			
			height:100px;
		}
		.foot_p{
			
			font-size:6px;
			height:auto;
			bottom:0;
		}
		.foot_maincontent{
			width:100%;
			height:100%;
			
			
		}
		.foot_maincontent_add
		{
			width:50%;
			font-size:6px;
			left:3px;
		}
		.foot_maincontent_fb{
			
			left:52%;
			top:23px;
			width:20px;
			height:20px;
			}
		.foot_maincontent_info
		{
			left:58%;
			width:20%;
			font-size:8px;
			height:auto;
		}
		
		.foot_maincontent_contact{
			left:85%;
			width:14.5%;
			height:100%;
			
		}
		.foot_maincontent_contact img{
		
			left:50%;
			transform:translateX(-50%);
			top:20%;
			/*top:34px;*/
			width: 30%;
			height:auto;
			//height:20%;
		}
		.foot_maincontent_contact a
		{
			position:absolute;
			top:50%;
			//left:10px;
			font-size:12px;
			text-align:center;
			left:50%;
			transform:translateX(-50%);
			
		}
/*************nav**************************/
		#button_menu
		{
			display:block;
			height:50px;
		}
		
		
		#navMenu 
		 {
			 
			 width: 40%;
			 background-color:transparent;
			 left:55%;
			 top:55px;
			 margin:0 2%;
			 display:none;	 					
		 }
		 
		 
		 #navMenuleft {
		 /*這個是控制標籤可以擺放的長度*/
			width: 100%;
			height:auto;
		}
		#nav li{
			width: 100%; 
			border:1px solid;
			border-color:black;
			
			background-color:#69BB5A;
			border-radius: 4px;
			height:auto;
		}
		/* 第一層標題菜單設定 */
		#nav li a, #nav li a:link, #nav li a:visited {
			
			color: #FFFFFF; /* 標題的字體顏色, 可自己修改 #FFFFFF是白色*/
			margin: 0;      /* 邊緣外距離 */
			padding:0;/* 邊緣內距離 */
			text-align:center;
			line-height:25px;
			font: normal 14px 'Ubuntu';/* 字型 :粗體 大小 字體 */
			padding:6px 0;
			overflow:hidden;
			
			width: auto;
			height:auto;
						
		}
		/* 第一層菜單(滑鼠hover over時)設定 */

		#nav li a:hover,
		#nav li a:active {
		background:#317e56;/* 這個是當滑鼠指到時, 背標題的背景顏色, 可依個人喜好自行更改 */
		color: #000000; /* 標題的字體顏色, 可自己修改 #000000是黑色*/
		margin: 0;

		padding:6px 0;
		overflow:hidden;
		text-align:center;
		
		font: normal 14px 'Ubuntu';
		height:auto;
		
		}
		
		
		/* 第二層菜單(子選單)設定 */
		#nav li li a, #nav li li a:link, 
		#nav li li a:visited 
		{
			padding: 5px 0px;
			//background-color:#239B56;
			background:#239B56 repeat-x top;
			font: normal 14px 'Ubuntu';
			
			width: 100%;
			height:auto;
			
		
		}
		/* 第二層菜單(滑鼠hover over時)設定 */
		#nav li li a:hover, #nav li li a:active {
			padding:5px 0px;
			font: normal 14px 'Ubuntu';
			
		}
		#nav li ul{
		
		height: auto;
		width: 100%;
		background-color:transparent;
		margin-left:-80%;
		margin-top:-10px;
		padding:0;
		display:block;
		
		}
		#nav li ul li{
		background-color:transparent;
		border:0px solid;
		
		}
		
		
		#nav li:hover ul
		{	
			display:none;
			
		}
	}
	/******************551-700*************************/
	@media (min-width: 538px) and (max-width:963px)
	{
		*{
			padding:0;
			margin:0;
			width:100%;
			height:100%;
		}
		
		
		.header_{
			
			width:269px;
			height:50px;
			left:0;
			top:10px;
			transform:none;
			
		}
		.header_maxwidth{
			width:100%;
			height:100%;
		}
		.header_phone {
			display:none;
		}
		.header_email{
			display:none;
		}
		.header_logo{
		
			position: absolute;
			height:auto;
			width:100%;
			top:50%;
			 transform: translateY(-50%);
		}
		.header_logo img
		{
			width:80%;
			//top:50%;
			//transform: translateY(-50%);
		}
/*************foot************************/
		.foot{
			height:100px;
		}
		.foot_p{
			font-size:6px;
			height:auto;
			bottom:0;
		
		}
		.foot_maincontent{
			width:100%;
			height:100%;
			
			
		}
		.foot_maincontent_add
		{
			width:50%;
			font-size:6px;
			left:3px;
		}
		.foot_maincontent_fb{
			
			left:52%;
			top:23px;
			width:20px;
			height:20px;
			}
		.foot_maincontent_info
		{
			left:58%;
			width:20%;
			height:auto;
			font-size:8px;
		}
		.foot_maincontent_contact{
			left:85%;
			width:15%;
			height:100%;
			
		}
		.foot_maincontent_contact img{
		
			left:50%;
			transform:translateX(-50%);
			top:20%;
			/*top:34px;*/
			width: 30%; 
			max-width:50%;
			height:auto;
			//height:20%;
		}
		.foot_maincontent_contact a
		{
			
			top:60px;
			width:80%;
			height:auto;
			left:0;
			padding:0 10%;
			text-align:center;
			font-size:12px;
			
		}
/*************nav**************************/
		#button_menu
		{
			display:block;
			height:50px;
		}
		
		
		#navMenu 
		 {
			 height:auto;
			 width: 40%;
			 background-color:transparent;
			 left:55%;
			 top:55px;
			 
			 margin:0 2%;
			 display:none;	 					
		 }
		 
		 #navMenuleft {
		 /*這個是控制標籤可以擺放的長度*/
			width: 100%;
		}
		#nav li{
			width: 100%;
			height:auto;
			border:1px solid;
			border-color:black;
			background-color:#54A586;
			border-radius: 4px;
		}
		/* 第一層標題菜單設定 */
		#nav li a, #nav li a:link, #nav li a:visited {
			
			color: #FFFFFF; /* 標題的字體顏色, 可自己修改 #FFFFFF是白色*/
			margin: 0;      /* 邊緣外距離 */
			padding:0;/* 邊緣內距離 */
			text-align:center;
			line-height:120%;
			font: normal 14px 'Ubuntu';/* 字型 :粗體 大小 字體 */
			padding:6px 0;
			overflow:hidden;
			
			width: auto;
			height:auto;
						
		}
		/* 第一層菜單(滑鼠hover over時)設定 */

		#nav li a:hover,
		#nav li a:active {
			background:#317e56;/* 這個是當滑鼠指到時, 背標題的背景顏色, 可依個人喜好自行更改 */
			color: #000000; /* 標題的字體顏色, 可自己修改 #000000是黑色*/
			margin: 0;

			padding:6px 0;
			overflow:hidden;
			text-align:center;
			
			font: normal 14px 'Ubuntu';
			height:auto;
		
		}
		
		
		/* 第二層菜單(子選單)設定 */
		#nav li li a, #nav li li a:link, 
		#nav li li a:visited 
		{
			padding: 5px 0px;
			//background-color:#239B56;
			background:#239B56 repeat-x top;
			font: normal 14px 'Ubuntu';
			
			width: 100%;
			height:auto;
			
		
		}
		/* 第二層菜單(滑鼠hover over時)設定 */
		#nav li li a:hover, #nav li li a:active {
			padding:5px 0px;
			font: normal 14px 'Ubuntu';
			
		}
		#nav li ul{
		
			height: auto;
			width: 100%;
			background-color:transparent;
			margin-left:-80%;
			margin-top:-10px;
			padding:0;
			display:block;
		}
		#nav li ul li{
			background-color:transparent;
			border:0px solid;
		}
		
		#nav li:hover ul
		{	
			display:none;
			
		}

	}
		
	
		
</style>