<style type="text/css">
	*{
		padding:0;
		margin:0;
	}
	@import './mobile_base.css';
	
	@media (min-width: 300px) and (max-width: 537px)
	{
		
		*{
			padding:0;
			margin:0;
			width:100%;
			height:100%;
		}
		.content
		{	
			width:95%;
			height:70%;
			margin:0px 0;
			top:110px;
			
		}
		.content_1
		{	
			position:relative;
			top:0px;
			height:auto;	
		}
		
		.faderandom
		{
			position:relative;
			display:inline-block;
			width:100%;
			
			height:230px;
			overflow:hidden;
			top:0;
			left:0;
			margin:10px 0;
			//display:none;
		}
		.faderandom img
		{
			display:inline;
			width:100%;
			margin:auto;
			
		}
		
		.content_1_googlemap
		{
			position:relative;
			display:inline-block;
			width:43%;
			height:auto;
			left:0px;
			top:0px;
			margin:20px 0 0 0;
		}
		
		.content_1_p
		{
			position:relative;
			display:inline-block;
			left:0px;
			top:0px;
			height:auto;
			width:50%;
			font-size:16px;
			margin:0 0 30px 3%;
			
		}
		.content_1_text1
		{
			position:relative;
			top:0;
			left:0;
			display:inline-block;
			width:100%;
			margin:5px 0;
			font-size:18px;
		}
		.content_2
		{
			display:none;
		}
		.content_3
		{
			display:none;
		}
		.content_4
		{
			position:relative;
			display:inline-block;
			top:0;
			left:0;
			width:100%;
			height:auto;
			margin:10px 0;
			line-height:130%;
			font-size:16px;
			
		}
	
	}
		/****************************************************/
		@media (min-width: 538px) and (max-width:963px)
		{
				
			*{
				padding:0;
				margin:0;
				width:100%;
				height:100%;
			}
			.content
			{	
				width:95%;
				height:70%;
				top:110px;
				
				
			}
			.content_1
			{	
				position:relative;
				top:0px;
				height:auto;
			}
			
			.faderandom
			{
				position:relative;
				display:inline-block;
				max-width:100%;
				
				height:340.5px;
				overflow:cover;
				top:0;
				left:0;
				margin:10px 0;
				//display:none;
			}
			.faderandom img
			{
				display:inline;
				width:100%;
				max-height:340.5px;
				
				//height:auto;
				
			}
			
			.content_1_googlemap
			{
				position:relative;
				display:inline-block;
				width:45%;
				height:auto;
				left:0px;
				top:0px;
				margin:20px 0 0 0;
			}
			
			.content_1_p
			{
				position:relative;
				display:inline-block;
				left:0px;
				top:0px;
				height:auto;
				width:50%;
				font-size:20px;
				margin:0 0 30px 3%;
			}
			.content_1_text1
			{
				position:relative;
				top:0;
				left:0;
				display:inline-block;
				width:100%;
				margin:5px 0;
				padding:28px 0;
				font-size:20px;
			}
			.content_2
			{
				display:none;
			}
			.content_3
			{
				display:none;
			}
			.content_4
			{
				position:relative;
				display:inline-block;
				top:0;
				left:0;
				width:100%;
				height:auto;
				margin:10px 0;
				line-height:130%;
				font-size:18px;
				
			}
			
		}
		/**********************/
		
</style>